---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: 'Rubik', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:            var(--text-color);
$background-color:      var(--background-color);
$link-color:            var(--link-color);
$link-color-light:      var(--link-color-light);
$toggle-color:          var(--toggle-color);
$toggle-color-light:    var(--toggle-color-light);
$x-color-light:         var(--x-color-light);
$linkedin-color-light:  var(--linkedin-color-light);
$github-color-light:    var(--github-color-light);
$spotify-color-light:   var(--spotify-color-light);

// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "setup",
        "base",
        "layout"
;
