html {
    --text-color:       #282c34;
    --background-color: #ffe3d3;
    --link-color:       #ffbcaf;
    --link-color-light: #282c34;
}

@media (prefers-color-scheme: dark) {
   html { 
        --text-color:       #fdada2;
        --background-color: #282c34;
        --link-color:       #575b64;
        --link-color-light: #fdada2;
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
