html, html[data-theme="light"] {
    --text-color:               #4c4f69;
    --background-color:         #eff1f5;
    --link-color:               #ccd0da;
    --link-color-light:         #5c5f77;
    --toggle-color:             #ccd0da;
    --toggle-color-light:       #e64553;
    --x-color-light:            #5c5f77;
    --linkedin-color-light:     #1e66f5;
    --github-color-light:       #5c5f77;
    --spotify-color-light:      #40a02b;
    --bsky-color-light:         #04a5e5;
}

html, html[data-theme="dark"] {
    --text-color:               #cdd6f4;
    --background-color:         #1e1e2e;
    --link-color:               #313244;
    --link-color-light:         #bac2de;
    --toggle-color:             #313244;
    --toggle-color-light:       #eba0ac;
    --x-color-light:            #bac2de;
    --linkedin-color-light:     #89b4fa;
    --github-color-light:       #bac2de;
    --spotify-color-light:      #a6e3a1;
    --bsky-color-light:         #89dceb;
}

@media (prefers-color-scheme: dark) {
   html, html[data-theme="dark"] {
        --text-color:               #cdd6f4;
        --background-color:         #1e1e2e;
        --link-color:               #313244;
        --link-color-light:         #bac2de;
        --toggle-color:             #313244;
        --toggle-color-light:       #eba0ac;
        --x-color-light:            #bac2de;
        --linkedin-color-light:     #89b4fa;
        --github-color-light:       #bac2de;
        --spotify-color-light:      #a6e3a1;
        --bsky-color-light:         #89dceb;
    }
    
    html, html[data-theme="light"] {
        --text-color:               #4c4f69;
        --background-color:         #eff1f5;
        --link-color:               #ccd0da;
        --link-color-light:         #5c5f77;
        --toggle-color:             #ccd0da;
        --toggle-color-light:       #e64553;
        --x-color-light:            #5c5f77;
        --linkedin-color-light:     #1e66f5;
        --github-color-light:       #5c5f77;
        --spotify-color-light:      #40a02b;
        --bsky-color-light:         #04a5e5;
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
